<meta charset="UTF-8">
<html>
    <link href="static/style.css" rel="stylesheet" type="text/css" media="all">
	<head>
		<title>ArtBot: Authorize DeviantArt account</title>
	</head>
	<body>
        <div class="infoBar" style="text-align: center; margin-top: 30vh">
            <br/>
            <br/>
            <h1>Log into DeviantArt to authorize access</h1>
            <br/>
            <br/>
            <a href={{url}} class="butt" onClick={this.handleClick} style="width: auto; height: auto; padding-top: 5px; padding-bottom: 5px; padding-left: 15px; padding-right: 15px">Authorize</a>
        </div>
	</body>
</html>